* {
    font-family: Courier, monospace;
}

body {
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    align-content: center;
    justify-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    outline: 7px solid black;
    background-color: #cd4242;
    width: 60em;
    height: 60em;
    border-radius: 90px;
}

.container3d {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #880e0e;
    border-bottom: 7px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 5px 3em 5px;
    width: 60em;
    height: 60em;
    border-radius: 140px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.drawingField {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(227, 216, 216);
    outline: 5px solid black;
    width: 40em;
    height: 40em;
    cursor: pointer;
    
}

.functionalities {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    padding: 2em 0;
    width: 40em;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    padding: 12px 42px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform:translateY(-12px);  
}

button {
    background: rgb(84, 67, 67);
    border-radius: 12px;
    border: 4px solid rgb(0, 0, 0);
    padding: 0px;
    cursor: pointer;
    outline-offset: 4px;   
    font-size: 2em;  
    min-width: 5em;
    max-width: 5em;
}

.btn:active .front {
    transform: translateY(-2px);
}